@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #000000;
    --secondary-color: #F3EFE0;
    --accent1-color: #a2c5c9;
    --accent2-color: #A41623;

    --heading-font: 'Roboto', serif;
    --paragraph-font: 'Poppins', serif;

    --nav-background-color: #000000;
    --nav-link-color: #eeecec;
    --nav-hover-link-color: #a2c5c9;
    --nav-hover-background-color: #f3efe0;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
    margin: auto;
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

.head nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
    justify-content: center; 
    align-items: center;
}


.head nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
    margin-right: 10px;
}

.head nav a:link,
.head nav a:visited {
    color: var(--nav-link-color);
}

.head nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

.head img {
    display: block;
    margin: 10px auto; 
    box-shadow: 0 0 30px gray;
}


h1, h2, h3, h4, h5, h6 {
    display: block;
    position: relative;
    font-family: var(--heading-font);
    color: var(--primary-color);
}

.hero img {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: relative;
    bottom: 550px;
    left: 0px;
    color: white;
    background: rgba(127, 221, 213, 0.6);
    font-size: 2.1rem;
    text-align: center;
}

.hero article {
    position: relative;
    margin: 50px;
    right: 5px;
    bottom: 350px;
    color: white;
    background: rgba(127, 221, 213, 0.6);
    background-repeat: no-repeat;
    background-size: 300px 100px;
}

.hero article img {
    float: right;
    width: 20%;
    height: auto;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--accent1-color);
    padding: 10px;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-links a {
    margin: 0 5px;
}

.social-links img {
    width: 40px;
    height: 40px;
}


section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center; 
}

section img {
    max-width: 100%; 
    height: auto;
    margin: 20px auto; 
}

section figcaption {
    text-align: center; 
}
.grid-layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center; 
    align-items: center; 
    margin-bottom: 20px;
}
main {
    padding-top: 20px;
}

.company-info {
    margin-bottom: 20px;
}

.company-info h3 {
    margin-top: 20px;
}

.map {
    width: 100%;
    height: 100%;
}

.employee-profiles {
    margin-bottom: 20px;
}

.employee {
    text-align: center;
    margin: 10px;
}

.employee img {
    width: 80%;
    height: auto;
    border-radius: 50%;
}

.employee-title {
    margin-top: 10px;
}

.contact-form {
    margin-bottom: 20px;
}

.contact-form form {
    margin-top: 10px;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

.contact-form textarea {
    height: 100px;
}

.contact-form button {
    padding: 10px 20px;
    background-color: var(--accent2-color);
    color: white;
    border: none;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: var(--secondary-color);
}

.radio-container {
    display: flex;
    align-items: center;
}

.radio-container input[type="radio"] {
    margin-right: 5px;
}
.trip {
    text-align: center;
    margin-bottom: 20px;
}

.trip-table {
    margin: 0 auto;
    max-width: 600px;
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 50px;
}
.call-to-action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100px; 
}
.table-container {
    display: inline-block;
    padding: 20px;
    text-align: center;
    margin-top: 10px;
}
.table-heading {
    text-align: right;
}
.newsletter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px auto;
    max-width: 400px;
    padding: 20px;
    background-color: var(--nav-hover-link-color);
    color: var(--primary-color);
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form-group label {
    margin-right: 10px;
}

button {
    margin-top: 10px;
}
